<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 读取properties文件。此标签整个Spring项目中只能配置一个，若有多个同名文件，以spring最后读取到的为准 -->
    <context:property-placeholder location="classpath:/all-properties/*.properties"/>

    <!--    装载 Spring  beans  -->
    <import resource="classpath:spring/Spring-beans.xml"/>

    <!-- ...装载 MyBatis beans-->
    <import resource="classpath:mybatis/MyBatis-beans.xml"/>

    <!-- ...装载 Redis beans-->
    <import resource="classpath:redis/Redis-beans.xml"/>


</beans>
