<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <!--    开启自动扫描  -->
    <context:component-scan base-package="com.hzero.demo.ssmwithredis.springmvc.dao"/>
    <context:component-scan base-package="com.hzero.demo.ssmwithredis.springmvc.service"/>

    <!-- 手动配置spring bean -->
    <bean name="user" class="com.hzero.demo.ssmwithredis.springmvc.pojo.User"/>

    <!--    导入spring datasource bean-->
    <import resource="classpath:spring/config/Datasource.xml"/>

</beans>
